@import "./variables.scss";

.legalAndPrivayContainer {
	h1 {
		text-align: center;
		padding-top: 10px;
		padding-bottom: 20px;
	}

	.content {
		width: 80%;
		display: block;
		margin-left: auto;
		margin-right: auto;
		font-size: 14pt;
		text-align: left;
		line-height: 2em;
		color: #555555;
		letter-spacing: 1px;

		h3,
		h2 {
			margin-top: 20px;
			margin-bottom: 10px;
			color: black;
		}
	}
}
